.container8{
border: 1px green solid;
border: none;
width: 100%;
height: 600px;
margin-top: 72px;
margin-bottom: 0%;
background-color: rgba(0, 0, 0, 0.895);
}
.gallery{
    border: 1px green solid;
    border: none;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.gallery-pic{
    border: 1px green solid;
    width: 100%;
    border: none;
    height: 80px;
    display: flex;
    justify-content: center;
}
.gallery-pic img{
    width: 400px;
    height: 50px;
}
.container9{
    border: 1px green solid;
    border: none;
    width: 100%;
    height: 450px;
    background-image: url(./assets/feedbackground.jpg);
    filter: brightness(90%); 
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
.feed{
    padding-top: 30px;
    width: 200px;
    height: 100px;
    filter: brightness(200%) !important;
}
.feedbacker{
    padding-top: 30px;
    color: #dcb658 !important;
    font-weight: 700;
    font-size: 35px;
}
.feedback{
    color: white;
    font-weight: 500;
    font-size: 30px;
}
.container10{
    border: 1px black solid;
    border-style: none;
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.895);
    margin-top: 0px;
}
.location-pic{
    border: 1px red solid;
    border-style: none;
    width: 100%;
    height: 320px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    gap: 35px;
    padding-top: 10px;
    margin-top: 0px;
}
.locations{
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 50px;

}
.highway{
    border: 1px black solid;
    border-style: none;
    height: 300px;
    width: 70%;
}
.dodarya{
    border: 1px black solid;
    border-style: none;
    height: 300px;
    width: 70%;
}
.shaheed{
    border: 1px black solid;
    border-style: none;
    height: 300px;
    width: 70%;
}
.hyderabad{
    border: 1px black solid;
    border-style: none;
    height: 300px;
    width: 70%;
}
.pics-loc{
    border: 1px green solid;
    border-style: none;
    height: 220px;
    border-radius: 10px;
}
.loc{
    border: 1px green solid;
    border-style: none;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #dcb658;
    padding-top: 8px;
    font-weight: 450;
    gap: 4px;
    
}
.pics-loc img{
    height: 220px;
transition: transform.3s ease-in-out;
border-radius: 0px;
}

.pics-loc img:hover{
 transform: rotate(30deg);

}
.loc img{
    width: 30px;
    height: 30px;
}
.container12{
    border: 1px black solid;
    border: none;
    width: 100%;
    height: 100px;
    padding-top: 15px;
    background-color:  rgb(23, 22, 22);
    color: #dcb658;
}
.end-arrow{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
   align-items: center;
}
